*{
  margin-top: 0;
  margin-left: 0;
  padding-top: 0;
  background-color: #222629;
  color: #86C232;
  font-family: sans-serif;
  font-size: 20px;
  /* color: #61892F; */
}
#navbar{
  /* border: 1px solid yellow; */
  margin: auto;
  width:85%;
  height: 80px;
  align-items: center;
  display: grid;
  grid-template-columns: 20% 20% 60%;
}
#navbar>div:first-child {
	margin-right: 30%;
  /* border: 1px solid red; */
}
.icon{
  display: none;
}

.nav-list{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
#nav-logo{
  margin-top:7%;
  /*padding-bottom: 5%; */
  width:100%;
  height:auto;
  /* border: 1px solid red; */
}
